In [3]:
A=input()
B=input()
print(A+B)

2
4
24

In [4]:
A = int(input())
B = int (input())
print(A+B)

2
4
6

In [10]:
A=input()
B=input()
int ( (A+B))

2
4

24

In [4]:
x = int(input())

if x < 50:
     print("the naumber is less than 50")
print("gomycody is located downtown")

40
the naumber is less than 50
gomycody is located downtown

In [11]:
x = int(input())

if x < 50:
    print("the naumber is less than 50")
    
elif x > 50 and x <101:
      print ("the number is between 50 and 100")
else :
    (" the naumber is")
    
print("gomycody is located downtown")

70
the number is between 50 and 100
gomycody is located downtown

In [15]:
x = int (input())
if x= in i 
    print ("gomycode is nice company")
else :

SyntaxError: invalid syntax (1657152617.py, line 2)

In [ ]:
sent"gomycode is nice company"
c1 = input("please enter 1 character")
if c1 in sent .lower() or  c1 in sent .uper()
   print("fawed")
    
else

In [24]:
z = (input ())
r = (input ())
print (r,z)

Ahmed
Adel
Adel Ahmed

In [ ]:
n=int(input("5")
      
      
print (5)+(5*11)+(5*111)

In [1]:
h = 1
for i in range (1,9,2):
    h *= i
    print (h)

1
3
15
105

In [4]:
stri = "hello team"
for i in range (len (stri)):
     if i % 2 == 0:
            print (stri [i],end ="")

hlota