In [9]:
import pandas as pd

import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
 'score': [12.5, 9, 16.5, np. nan, 9, 20, 14.5, np. nan, 8, 19],

 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 11],
 'qualify': ['yes', 'no', 'yes','no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

 
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd. DataFrame(exam_data)


df. head(3)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes

In [12]:
df.dropna(inplace = True)

In [13]:
df[["score","name"]]

   score       name
0   12.5  Anastasia
1    9.0       Dima
2   16.5  Katherine
4    9.0      Emily
5   20.0    Michael
6   14.5    Matthew
8    8.0      Kevin
9   19.0      Jonas

In [14]:
df.drop("attempts" ,axis = 1)

        name  score qualify
0  Anastasia   12.5     yes
1       Dima    9.0      no
2  Katherine   16.5     yes
4      Emily    9.0      no
5    Michael   20.0     yes
6    Matthew   14.5     yes
8      Kevin    8.0      no
9      Jonas   19.0     yes

In [19]:
df["success"] = np.where(df["score"]>=10,

df

SyntaxError: unexpected EOF while parsing (1097791374.py, line 3)

In [20]:
df.to_csv("c:/Users/Ahmed/Desktop/dod.csv")

OSError: Cannot save file into a non-existent directory: 'c:/Users/Ahmed/Desktop'